# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/secrets.toml

# Chroma DB
chroma/
chroma_db/

# Temporary Files
temp_uploaded.pdf

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db